@model MUC.Models.ViewModels.LoginModel
<div>
    <form asp-action="Login" asp-controller="Login" method="post">
        <div class="validation" asp-validation-summary="All"> </div>
        <div class="title">Login</div>
        <div class="inputs">
            <label asp-for="Email" for="Email">User Name</label>
            <input asp-for="Email" id="Email" class="input" type="email" />            
        </div>
        <div class="inputs">
            <label asp-for="Password" for="Password">Password</label>
            <input asp-for="Password" id="Password" class="input" type="password" />
        </div>
        <div class="button-group menu-bottom">
            <button type="submit" class="button glow-effect">
                Login
                <svg class="glow-container">
                    <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                    <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
                </svg>
            </button>
            <a  asp-controller="Customer" asp-action="Index" class="button glow-effect">
                Back
                <svg class="glow-container">
                    <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                    <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
                </svg>
            </a>
        </div>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    } 