<section class="contact">
    <span>Reach me on these platforms:</span>
    <a href="https://www.facebook.com/mely.toledo.12327" aria-label="Link to Facebook" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/melysundergroundcuisine/" aria-label="Link to Instagram" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#" aria-label="Link to Tiktok" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
    </a>
</section>

<div class="copyright">
    &copy; 2022 - Melly's Underground Cuisine
</div>

