<section class="social-media">
    <!-- Left -->

    <span class="sm-span">Reach me on these platforms:</span>
    <a href="https://www.facebook.com/mely.toledo.12327" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/melysundergroundcuisine/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
    </a>
</section>
<!-- Social media end -->
<!-- Copyright -->
<div class="footer-copyright-section">
    &copy; 2022 - Melly's Underground Cuisine
</div>

