<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mely's Underground Cuisine'</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="img/jpg" href="/images/melysSmallLogo.jpg" />

    <link rel="stylesheet" href="~/css/nontailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" />

</head>


<body class="bg-[var(--bg-color)]">
    <partial name="_NavPartial" />
    <main role="main" class="min-h-screen">
        <partial name="_Notifications" />
        @RenderBody()
    </main>
    <partial name="_FooterPartial" />
    <partial name="_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
