<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Melly's Underground Cuisine'</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="shortcut icon" type="img/jpg" href="/images/melysSmallLogo.jpg" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MUC.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            Melly's Underground Cuisine
        </header>
        <nav class="navbar">  
            <partial name="_NavPartial" />
        </nav>
        <main role="main">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
        <footer class="footer">
            <partial name="_FooterPartial" />
        </footer>
    </div>
    <partial name="_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
