
@media (max-width: 900px) {
    header {
        z-index: 6;

        .navbar {
            position: relative;
            font-size: clamp(.8rem, 5dvw, 1.2rem);

            .hamburger {
                display: block;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }

        .nav-menu {
            position: fixed;
            left: -100%;
            top: 12.5rem;
            gap: 0;
            flex-direction: column;
            background-color: var(--background);
            width: 100%;
            text-align: center;
            transition: .3s;
            height: 80vh;
            z-index: 1;

            .d-none {
                display: none;
                transition: all .2s ease-in-out;
            }

            .dd {
                display: block;
                z-index: 200;

                .drop-down-menu {
                    z-index: 200;
                    position: relative;

                    .drop-down-links.is-visible, .drop-down-links {
                        text-align: left;
                        position: absolute;
                        left: 42%;
                        top: 100%;
                        width: 8rem;
                        z-index: 200;
                    }
                }
            }
        }


        .nav-menu.active {
            left: 0;
        }
    }

    main {
        table{
            font-size: .8rem;
            min-width: 40rem;
            .button{
                padding: 0;
            }
        }
      
        .menu-container, .menu-container * {
            all: initial;
            display: block;
        }

        .menu-container {
           width: 35dvw;
            margin: 0 auto;
            p{
                text-align:center;
                font-size:1.4rem;
                color: var(--accent);
            }

            .grid-container, .grid-container * {
                all: initial;
                display: block;
            }

            .grid-container {
                width: 100%;
                margin: 1.5rem auto;
                text-align: center;

                .menu-image {
                    img {
                        width: 20rem;
                        border-radius: 2rem;
                    }
                }

                .title-description, .title-description * {
                    all: initial;
                    display: block;
                }

                .title-description {
                    text-align: center;
                    background-color: var(--accent);
                    width: 20rem;
                    height: 5rem;
                    padding: .4rem 0;

                    p {
                        font-size: clamp(.5rem, 2vw, 1.8rem);
                        margin: .3rem auto;
                        color: var(--h3);
                        overflow-wrap: break-word;
                        text-align: center;
                    }

                    .button {
                        cursor: pointer;
                        background-color: var(--background);
                        color: var(--accent);
                        width: 8rem;
                        margin: 1.3rem auto;
                        text-align: center;
                        border-radius: 3px;

                        &:hover {
                            --background-hover: var(--background); /* define a new color variable for the hover state */
                            filter: brightness(0.8); /* apply the brightness filter to the variable color on hover */
                            box-shadow: 3px 3px 3px var(--background-hover);
                            font-size: 1.2rem;
                        }
                    }

                    .glow-container {
                        display: none;
                    }
                }
            }
        }
    }
}
