@import "_variables";

footer {
    background-color: black;
    color: $color-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: auto;
    padding: .5rem;

    .social-media {
        padding: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 1.5rem;

        a {
            font-size: 1.5rem;
            margin: 0 0.5rem;

            .fa-facebook {
                color: $facebook-color;
            }

            .fa-twitter {
                color: $twitter-color;
            }

            .fa-google {
                -webkit-text-fill-color: transparent;
                color: transparent;
                background: $google-color;
                -webkit-background-clip: text;
            }

            .fa-instagram {
                -webkit-text-fill-color: transparent;
                color: transparent;
                background: $instagram-color;
                -webkit-background-clip: text;
            }

            .fa-linkedin {
                color: $linkedin-color;
            }

            .fa-tiktok {
                -webkit-text-fill-color: transparent;
                color: transparent;
                background: $tiktok-color;
                -webkit-background-clip: text;
            }

            .fa-tiktok:hover {
                background-color: wheat !important;
                color: black;
            }

            :is(.fa-facebook, .fa-twitter, .fa-google, .fa-instagram, .fa-linkedin, .fa-tiktok) {
                &:hover {
                    -webkit-text-fill-color: wheat;
                }
            }
        }
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        font-size: medium;

        ul {
            li {
                margin: 0.25rem;
            }
        }

        a {
            padding: 0.25rem;
            height: 1rem;
            font-size: large;
            color: goldenrod;

            &:hover {
                background-color: $card-color;
                color: $color-pink;
            }
        }

        h3 {
            text-decoration: underline;
        }

        .payment {
            font-size: medium;
        }
    }

    .footer-copyright-section {
        background-color: #000;
        color: $color-white;
        text-align: center;
        padding: 0.75rem;
        font-size: 1rem;
    }
}
