form {
    display: grid;
    justify-content: center;
    gap: 1rem;

    img {
        margin: 0 auto;
        border-radius: .5rem;
        width: clamp(5rem, 25vw, 24.5rem);
    }

    .inputs {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }

    input {
        font-size: var(--input-font);
        border: 2px solid var(--accent);
        width: 24rem;
    }

    input[type="date"] {
        font-size: var(--input-font);
        width: clamp(.4rem, 25vw, 24rem);
    }


    label {
        font-size: var(--input-font);
    }

    select {
        font-size: var(--input-font);
        border: 2px solid var(--accent);
    }

    .menu-bottom {
        background-color: var(--accent);
        color: white;
        width: clamp(.8rem, 25vw, 24.5rem);
        border-radius: 0 0 .5rem .5rem;
        height: 3rem;
        font-size: clamp(.5rem, 5vw, 2rem);
        padding: 2rem;

      
    }

    h4 {
        color: var(--accent);
        width: clamp(.4rem, 25vw, 24rem);
    }

    .title {
        background-color: var(--accent);
        color: white;
        width: clamp(.8rem, 25vw, 24.5rem);
        text-align: center;
        border-radius: .5rem .5rem 0 0;
        height: 3rem;
        font-size: clamp(.5rem, 5vw, 2rem);
    }

    .button-group {
        display: flex;
        justify-content: center;
        background-color: var(--accent);
        align-items: center;
        color: white;
        width: clamp(.8rem, 25vw, 24.5rem);
        text-align: center;
        border-radius: 0 0 .5rem .5rem;
        height: 3rem;
        font-size: clamp(.5rem, 5vw, 2rem);

        .button {
            height: 2.5rem;
            color: var(--accent);
            font-size: clamp(.4rem, 20vw, 1.4rem);
        }
    }

    button {
        background-color: white;
        color: var(--accent);
    }
}
