@import "_variables";

.login-section {
    width: 100%;
}

form {
    width: 100%;
    align-content: center;
    margin-left: 45%;
    font-size: clamp(.4rem, 20vw, 1.5rem);


    .validation {
        color: pink;
        font-size: clamp(.4rem, 20vw, 1.4rem);

        &::before {
            content: 'Error or Errors';
            font-size: .8rem;
            text-decoration: underline;
        }
    }
}

.title {
    color: $color-white;
    font-size: 2rem;
}

label, input[type="file"] {
    color: $color-white;
}
