.menu-container {
    display: grid;
    justify-content: center;


    .grid-container {
        display: flex;
        justify-content: start;
        margin-bottom: .6rem;

        .menu-image {
            img {
                width:var(--validation);
                vertical-align: middle;
            }
        }

        .title-description {
            padding: .8rem;
            position: relative;
            word-wrap: break-word;
            min-width: 45rem;

            p {
                font-size: clamp(.5rem, 2vw, 1.8rem);
                margin-bottom: .8rem;
                color: var(--h3);
                overflow-wrap: break-word;
            }

            a, button {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                font-size: var(--nav-font);
                background-color: var(--background);
            }

            background-color: var(--accent);
        }
    }
}
