
header {
    background-color: var(--background);
    border-bottom: .4rem solid var(--accent);
    margin: 0 0 2rem 0;
    cotainer-type: inline-size;

    li {
        list-style: none;
    }

    .navbar {
        min-height: 4.4rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        z-index: 6;

        .nav-branding {
            border-radius: 50%;
            margin-left: 2rem;
            width: 10rem;
        }

        .nav-menu {
            display: flex;
            margin-right: 1.5rem;
            gap: 2.5rem;
            z-index: 6;

            .nav-item {
                display: inline;
                margin: 0 2rem;
                list-style-type: none;
                z-index: 6;

                .drop-down-menu {
                    position: relative;
                    font-size: var(--nav-font);
                    z-index: 6;

                    button {
                        color: var(--accent);
                        font-size: var(--body-font);
                        border-radius: .3rem .3rem 0 0;
                        padding: .2rem;
                    }

                    .drop-down-links {
                        display: grid;
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                        transition: all .8s ease-in-out;
                        top: calc(100% + .2rem);
                        left: .1rem;
                        width: 98%;
                        z-index: 6;

                        a {
                            color: var(--accent);
                            padding: .2rem;

                            &:hover {
                                color: var(--accent);
                                background-color: var(--nav-links);
                            }
                        }
                    }

                    .is-visible {
                        display: grid;
                        width: 98%;
                        opacity: 1;
                        position: absolute;
                        top: calc(100% + .2rem);
                        left: .1rem;
                        z-index: 100;
                        pointer-events: auto;
                        border-radius: 0 0 .3rem .3rem;
                        transform: translateY(.2rem);
                        transition: all .5s ease-in-out;
                        color: var(--text);
                        background-color: var(--background);
                        box-shadow: 4px 4px 8px var(--accent);

                        a {
                            padding: .2rem;

                            &:hover {
                                background-color: var(--accent);
                                color: var(--background);
                            }
                        }
                    }
                }
            }
        }

        .hamburger {
            display: none;
            cursor: pointer;
            z-index: 6;

            .bar {
                display: block;
                width: 1.6rem;
                height: .18rem;
                margin: .4rem auto;
                transition: all .3s ease-in-out;
                background-color: var(--accent);
            }
        }
    }
}
