
nav {
    width: 100%;

    .nav-container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;

        .brand-logo {
            margin-left: 2rem;
            img {
                width: clamp(4rem, 20vw, 12rem);
                border-radius: 50%;
            }
        }

        .nav-links {
            display: flex;
            justify-content: end;
            margin-right: 1.5rem;

            ul {
                display: flex;
                align-items: center;
                width: 100%;

                li {
                    display: inline;
                    margin: 0 2rem;
                    list-style-type: none;

                 

                    .drop-down-menu {
                        position: relative;
                        font-size: var(--nav-font);

                        button {
                            color: var(--accent);
                            font-size: var(--body-font);
                            border-radius: .3rem .3rem 0 0;
                            padding: .2rem;
                        }

                        .drop-down-links {
                            display: grid;
                            position: absolute;
                            opacity: 0;
                            pointer-events: none;
                            transition: all .8s ease-in-out;
                            top: calc(100% + .2rem);
                            left: .1rem;
                            width: 98%;

                            a {
                                color: var(--nav-links);
                                padding: .2rem;

                                &:hover {
                                    color: var(--text);
                                    background-color: var(--dark);
                                }
                            }
                        }

                        .is-visible {
                            display: grid;
                            width: 98%;
                            opacity: 1;
                            position: absolute;
                            top: calc(100% + .2rem);
                            left: .1rem;
                            z-index: 100;
                            pointer-events: auto;
                            border-radius: 0 0 .3rem .3rem;
                            transform: translateY(.2rem);
                            transition: all .5s ease-in-out;
                            color: var(--text);
                            background-color: var(--accent);
                            box-shadow: 4px 4px 8px black;

                            a {
                                padding: .2rem;

                                &:hover {
                                    background-color:var(--nav-links);
                                    color: var(--accent);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
