@import "_variables.scss";

table {
    border-collapse: collapse;
    margin: 1.563rem auto;
    font-size: clamp(.5rem, 3vw, 1.5rem);
    min-width: 65rem;
    border-radius: .313rem .313rem 0 0;
    overflow: hidden;
    box-shadow: 0 0 1.25rem rgba(107, 106, 106, 0.15);


    thead tr {
        background-color: $color-pink;
        color: #000;
        text-align: left;
        font-weight: bold;
    }

    th,
    td {
        padding: .75rem .938rem;
    }

    tbody tr {
        border-bottom: .063rem solid $color-pink;
    }

    tbody tr:nth-of-type(even) {
        background-color: #383638;
        color: $color-white;
    }

    tbody tr:nth-of-type(odd) {
        color: #f7b0f1;
    }

    tbody tr:last-of-type {
        border-bottom: .125rem solid $color-pink;
    }

    tbody tr.active-row {
        font-weight: bold;
        color: $color-pink;
    }

    .table-link {
        color: $color-white;
        padding: .4rem;
        text-decoration: underline dotted;

        &:hover {
            background-color: $color-white;
            color: #000;
        }
    }


    img {
        width: 15rem;
    }
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #855480 !important;
}