@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap'); // normal fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); // this is the cursive fonts

@import "_variables";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--body-font);
    background: var(--background);
    color: var(--text);
}
main{
    min-height:90vh;
}

a,
a:visited {
    text-decoration: none;
    color: var(--accent);
}

.main-paragraph {
    padding: 1rem;
    text-indent: 2.5rem;

    span {
           -webkit-text-fill-color: transparent;
           color: transparent;
           background: var(--dark);
           -webkit-background-clip: text;
    }
}
.validation{
    color:red;
}
@import "_navbar";
@import "_tables";
@import "_footer";
@import "_buttons";
@import "_forms";
@import "_cards";
@import "_menu-maker";