@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap'); // normal fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); // this is the cursive fonts

@import "_variables";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.1rem, 2vw + 1rem, 1.4rem);
    line-height: 1.55;
    background: var(--background);
    color: var(--text);
}
a{
    text-decoration:none;
}

@import "_navbar";