@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap'); // normal fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); // this is the cursive fonts

@import "_variables";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--body-font);
    background-color: var(--background);
    color: var(--accent);
}

main {
    min-height: 90vh;
   min-width:100%;
}



a,
a:visited {
    text-decoration: none;
    color: var(--accent);
}
nav{
    container-type:inline-size;
}
.main-paragraph {
    padding: 1rem;
    text-indent: 2.5rem;

    span {
        -webkit-text-fill-color: transparent;
        color: transparent;
        background: var(--puerto-rico);
        -webkit-background-clip: text;
    }
}


.validation-summary-errors {    
    color: var(--nav-links);
    background-color: var(--accent);
    font-size: var(--nav-font);
    padding: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    width: var(--validation);
    border-radius:.5rem;
    ul{
        padding:.4rem;
        margin-left: .4rem;
    }
   
}

// these partials are there so I could focus on one section at a time :)
@import "_navbar";
@import "_tables";
@import "_footer";
@import "_buttons";
@import "_forms";
@import "_cards";
@import "_menu-maker";
@import "_container-queries";