@model Category

<form method="post" asp-action="Create" asp-controller="Category" class="form">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="title">Create Category</div>
    <div >
        <input asp-for="Name" id="Name"  type="text" />
        <label asp-for="Name" for="Name" >Category Name</label>
    </div>

    <div >
        <input asp-for="DisplayOrder" id="DisplayOrder"   type="number" />
        <label asp-for="DisplayOrder" for="DisplayOrder">Display Order</label>
    </div>
    <br />
    <button type="submit" class="button glow-effect">Create
        <svg class="glow-container">
            <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
            <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
        </svg>
    </button>
    <a  class="button glow-effect" asp-controller="Category" asp-action="Index">
       Back
        <svg class="glow-container">
            <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
            <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
        </svg>
    </a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }