@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: all 1s;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  text-align: center;
  font-size: 3rem;
  background: #ff9ff6;
  color: black;
  font-family: "Great Vibes", cursive;
  border: 2px solid black;
  padding: 1.5rem;
}

.main-paragraph {
  text-indent: 1.5rem;
  color: white;
  font-size: clamp(0.5rem, 60vw, 2rem);
  padding: 2rem;
}
.main-paragraph span {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #f81313, #fff 50%, #2730ff);
  -webkit-background-clip: text;
}

.heading-items {
  display: grid;
  grid-template-columns: 20rem 20rem;
  color: #ff9ff6;
  text-align: center;
  justify-content: center;
}

.details {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  text-align-last: center;
  color: #ff9ff6;
  width: 100%;
  font-size: clamp(0.4rem, 20vw, 1.5rem);
}
.details .detail-type {
  font-size: clamp(0.4rem, 20vw, 2.5rem);
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.details .puerto-rico {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #f81313, #fff 50%, #2730ff);
  -webkit-background-clip: text;
  font-size: clamp(0.4rem, 20vw, 2rem);
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  padding: 0.4rem;
  align-items: center;
  z-index: 10;
}
.navbar .logo {
  width: 8rem;
  border-radius: 50%;
  height: 100%;
  margin-left: 1.5rem;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}
.navbar .link {
  color: #ff9ff6;
  padding: 0.4rem;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}
.navbar ul {
  list-style-type: none;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul .hl:hover {
  background-color: white;
}
.navbar ul .hl:hover a {
  color: black;
}
.navbar ul .special .dropdown {
  position: relative;
}
.navbar ul .special .dropdown button {
  background: transparent;
  border: none;
  color: #ff9ff6;
  padding: 0.4rem;
  font-size: clamp(0.3rem, 3vw, 1.5rem);
  transition: 1s;
}
.navbar ul .special .dropdown button:hover {
  cursor: pointer;
}
.navbar ul .special .dropdown .dropdown-menu {
  background-color: black;
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  width: 100%;
  opacity: 0;
  display: none;
  box-shadow: 0.1rem 0.1rem 0.15rem white;
  transition: 1s ease-in-out;
}
.navbar ul .special .dropdown .dropdown-menu .dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-left: 0.2rem;
}
.navbar ul .special .dropdown .dropdown-menu .dropdown-links a {
  font-size: clamp(0.1rem, 50vw, 1rem);
  width: 100%;
  color: #ff9ff6;
  text-align: left;
}
.navbar ul .special .dropdown .dropdown-menu .dropdown-links a:hover {
  color: black;
  background: #ff9ff6;
}
.navbar ul .special .dropdown.active > .dropdown-menu {
  opacity: 1;
  display: block;
  transition: 1s ease-in-out;
}
.navbar ul .logout {
  position: absolute;
  right: 5rem;
  top: 3.5rem;
}
.navbar a {
  text-decoration: none;
}
.navbar .hamburger {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  display: none;
}

.navbar .hamburger .hamburger-button {
  --button-color: #ff9ff6;
  background: black;
  overflow: hidden;
}

.navbar .hamburger .hamburger-button {
  transition: translate 3s ease-in-out, rotate 3s ease-in-out;
}

.navbar .hamburger .hamburger-button[aria-expanded=true] .hamburger-svg {
  translate: 5px -1px;
  rotate: 0.125turn;
}

.navbar .hamburger .hamburger-button .line {
  transition: 1s;
  stroke-dasharray: 60 30 60 1000;
}

.navbar .hamburger .hamburger-button[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

table {
  border-collapse: collapse;
  margin: 1.563rem auto;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  min-width: 65rem;
  border-radius: 0.313rem 0.313rem 0 0;
  overflow: hidden;
  box-shadow: 0 0 1.25rem rgba(107, 106, 106, 0.15);
}
table thead tr {
  background-color: #ff9ff6;
  color: #000;
  text-align: left;
  font-weight: bold;
}
table th,
table td {
  padding: 0.75rem 0.938rem;
}
table tbody tr {
  border-bottom: 0.063rem solid #ff9ff6;
}
table tbody tr:nth-of-type(even) {
  background-color: #383638;
  color: whitesmoke;
}
table tbody tr:nth-of-type(odd) {
  color: #f7b0f1;
}
table tbody tr:last-of-type {
  border-bottom: 0.125rem solid #ff9ff6;
}
table tbody tr.active-row {
  font-weight: bold;
  color: #ff9ff6;
}
table .table-link {
  color: whitesmoke;
  padding: 0.4rem;
  text-decoration: underline dotted;
}
table .table-link:hover {
  background-color: whitesmoke;
  color: #000;
}
table img {
  width: 15rem;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #855480 !important;
}

main .card-section #cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  min-width: 100%;
  margin: 2rem 0;
}
main .card-section #cards:hover > .card::after {
  opacity: 1;
}
main .card-section .card {
  display: flex;
  position: relative;
  font-size: 0.5rem;
  width: 75%;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
main .card-section .card:hover::before {
  opacity: 1;
}
main .card-section .card::before,
main .card-section .card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}
main .card-section .card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 159, 246, 0.3), transparent 40%);
  z-index: 3;
}
main .card-section .card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}
main .card-section .card > .card-content {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  display: flex;
  flex-grow: 1;
  inset: 1px;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  color: #676363;
}
main .card-section h1,
main .card-section h2,
main .card-section h3,
main .card-section h4,
main .card-section span {
  color: whitesmoke;
  font-weight: 500;
  margin: 0px;
}
main .card-section i {
  color: rgb(240, 240, 240);
}
main .card-section .card-image {
  display: flex;
  overflow: hidden;
  max-width: 25rem;
}
main .card-section .card-image img {
  font-size: 6rem;
  opacity: 0.6;
  object-fit: contain;
}
main .card-section .card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}
main .card-section .card-info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}
main .card-section .card-info > i {
  font-size: 0.5rem;
  height: 20px;
  line-height: 20px;
}
main .card-section .card-info-title > h3 {
  font-size: 1.5rem;
  color: #D4AD00;
}
main .card-section .card-info-title > h4 {
  color: rgba(5, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
  background-color: blue;
}
main .card-section .text-info {
  color: #ff9ff6;
  font-size: 0.8rem;
  float: right;
}
main .card-section .description, main .card-section .description p {
  color: #ff6a00;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.login-section {
  width: 100%;
}

form {
  width: 100%;
  align-content: center;
  margin-left: 45%;
  font-size: clamp(0.4rem, 20vw, 1.5rem);
}
form .validation {
  color: pink;
  font-size: clamp(0.4rem, 20vw, 1.4rem);
}
form .validation::before {
  content: "Error or Errors";
  font-size: 0.8rem;
  text-decoration: underline;
}

.title {
  color: whitesmoke;
  font-size: 2rem;
}

label, input[type=file] {
  color: whitesmoke;
}

footer {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: auto;
  padding: 0.5rem;
}
footer .social-media {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.5rem;
}
footer .social-media a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
footer .social-media a .fa-facebook {
  color: #1092f4;
}
footer .social-media a .fa-twitter {
  color: #1d9bf0;
}
footer .social-media a .fa-google {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #4285f4, #db4437, #f4b400, #0f9d58);
  -webkit-background-clip: text;
}
footer .social-media a .fa-instagram {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(#405de6, #5b51d8, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  -webkit-background-clip: text;
}
footer .social-media a .fa-linkedin {
  color: #0a66c2;
}
footer .social-media a .fa-tiktok {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #010101, #69c9d0, #fff, #ee1d52);
  -webkit-background-clip: text;
}
footer .social-media a .fa-tiktok:hover {
  background-color: wheat !important;
  color: black;
}
footer .social-media a :is(.fa-facebook, .fa-twitter, .fa-google, .fa-instagram, .fa-linkedin, .fa-tiktok):hover {
  -webkit-text-fill-color: wheat;
}
footer .footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: medium;
}
footer .footer-links ul li {
  margin: 0.25rem;
}
footer .footer-links a {
  padding: 0.25rem;
  height: 1rem;
  font-size: large;
  color: goldenrod;
}
footer .footer-links a:hover {
  background-color: rgb(23, 23, 23);
  color: #ff9ff6;
}
footer .footer-links h3 {
  text-decoration: underline;
}
footer .footer-links .payment {
  font-size: medium;
}
footer .footer-copyright-section {
  background-color: #000;
  color: whitesmoke;
  text-align: center;
  padding: 0.75rem;
  font-size: 1rem;
}

@media (max-width: 915px) {
  .navbar .link {
    color: white;
  }
  .navbar .logout {
    padding: 0;
    margin: 0;
    transform: translateY(-3rem);
  }
  table {
    min-width: 45rem;
    font-size: medium;
  }
}
@media (max-width: 600px) {
  .navbar {
    padding-bottom: 5rem;
  }
  .navbar .special .dropdown {
    position: relative;
  }
  .navbar .special .dropdown .dropdown-menu .dropdown-links {
    padding-left: 1.2rem;
    margin-left: 1.4rem;
  }
  .navbar .special .dropdown .dropdown-menu .dropdown-links a {
    font-size: clamp(0.1rem, 50vw, 1rem);
    width: 100%;
    color: #ff9ff6;
  }
  .navbar .special .dropdown .dropdown-menu .dropdown-links a:hover {
    color: black;
    background: #ff9ff6;
  }
  .navbar .special .dropdown.active > .dropdown-menu {
    opacity: 1;
  }
  .navbar .hamburger {
    display: inline;
    color: #ff9ff6;
    z-index: 4;
    top: 1.5rem;
  }
  .navbar .navbar-links {
    display: none;
  }
  .navbar .navbar-links.active {
    color: #ff9ff6;
    display: block;
    width: 95vw;
    height: 60vh;
    z-index: 3;
    margin: auto;
    justify-content: center;
    padding-top: 10rem;
  }
  .navbar .navbar-links.active ul li {
    display: block;
  }
  .navbar .logo {
    width: 5rem;
    border-radius: 50%;
    height: 100%;
    margin-left: 1.5rem;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
  }
  .navbar .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-left: 1.5rem;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
  }
  .logout {
    padding: 0;
    margin: 0;
    transform: translateY(-4rem);
  }
}
#cards {
  font-size: clamp(0.4rem, 10vw, 1rem);
}

tables {
  min-width: 0.5rem;
  font-size: small;
}
tables thead tr th {
  padding: 0.15rem 0.1rem;
}
tables tbody tr td {
  padding: 0.15rem 0.1rem;
}
tables tbody tr td a {
  color: whitesmoke;
  padding: 0.1rem;
  text-decoration: underline dotted;
}

.button {
  cursor: pointer;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 700;
  color: darkorange;
  background-color: black;
  padding: 0.25rem;
  border: 0;
  text-decoration: none;
  margin: 0 0.5rem;
  border-radius: 0.3rem;
}

.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 2px;
  --glow-line-length: 20px;
  --glow-blur-color: #fff;
  --glow-blur-size: 5px;
  --glow-offset: 0px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  /* outline: 3px solid blue; */
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  /* rx: 1.25rem; */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 50px;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}
