@model MUC.Models.ViewModels.MenuVM;

<form asp-controller="Menu" asp-action="Create">
    <div asp-validation-summary="All"></div>
    <div class="title">Menu Information</div>
    <input hidden asp-for="ProductId" />

    <input asp-for="DateColumn" type="date" id="myDate" value='@DateTime.Now.ToString("yyyy-MM-dd")' />
    @if (Model.OneProduct != null)
    {
        <img src="@Model.OneProduct.ImgURL" />
        <h4>@Model.OneProduct.Title</h4>
        <script>
            function loadFunction() {
                let myDateListJson = '@Html.Raw(ViewBag.Dates)';
                let inputDate = document.getElementById("myDate");

                let myDateList = JSON.parse(myDateListJson).map((dateStr) => {
                    if (inputDate.value == dateStr) {
                        console.log("something equals", dateStr)
                    }
                    inputDate.addEventListener('change', event => {
                        if (inputDate.value == dateStr) {
                            console.log("something equals", dateStr)
                        }
                    })
                    return new Date(dateStr);

                });
            }

            window.onload = loadFunction;
        </script>
    }


    <div class="button-group">
        {
        <button asp-action="Delete" asp-controller="Menu" class="button glow-effect" type="submit">
            Delete from Menu
            <svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg>
        </button>
        <button class="button glow-effect" type="submit">
            Add to Menu
            <svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg>
        </button>
        }

        <a role="button" class="button glow-effect" asp-action="Index" asp-controller="Menu">
            Back
            <svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg>
        </a>
    </div>
</form>
@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial" />
    }
}
