@model List<Product>
<div class="menu-container">
    <h1> Menu Creator </h1>
    @{
        @if (Model != null) {
            @foreach (var meal in Model) {
                if (meal != null) {
                    <div class="grid-container">

                        <div class="menu-image">
                            <img src="@meal.ImgURL" />
                        </div>

                        <div class="title-description">
                            <h3>Product name:  @meal.Title</h3>
                            <a class="button glow-effect" asp-controller="Menu" asp-action="Create" asp-route-id="@meal.Id">
                                Add to Menu
                                <svg class="glow-container">
                                    <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                                    <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
                                </svg>
                            </a>

                        </div>
                    </div>
                }
            }

        }
    }
</div>

