@model List<Product>
<div class="menu-container">
    <p> Menu Creator </p>
    @{
        @if (Model != null) {
            @foreach (var product in Model) {
                if (product != null) {
                    <div class="grid-container">

                        <div class="menu-image">
                            <img src="@product.ImgURL" />
                        </div>

                        <div class="title-description">
                            <p>Product name:  @product.Title</p>
                            <a class="button glow-effect" asp-controller="Menu" asp-action="Create" asp-route-pid="@product.Id" asp-route-pid="@product.ProductMenus">
                                Add to Menu
                                <svg class="glow-container">
                                    <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                                    <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
                                </svg>
                            </a>

                        </div>
                    </div>
                }
            }

        }
    }
</div>

